* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
}

.money_img {
    width: 220px;
}

.equal {
    font-weight: 700;
    font-size: 40px;
}

.currency{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.currency select{
    padding: 10px 20px 10px 10px;
    border: 1px solid #dedede;
    font-size: 16px;
    background: transparent;
    outline: none;
    appearance: none;
}

.currency input {
    border: none;
    background: transparent;
    font-size: 30px;
    text-align: right;
    outline: none;
}